@use "sass:math";
@import "node_modules/font-awesome/scss/font-awesome.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}