@import "./paritials/variables";
@import "./paritials/commons";
@import "./paritials/header";
@import "./paritials/footer";

.jumbo {
    height: 500px;
    background-image: url('/img/jumbotron.jpg');
    background-position: top;
    background-size: cover;
}