@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import "node_modules/font-awesome/scss/font-awesome.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: 700;
}    
    
.undefined-route {
    padding: 40px 0;
    text-align: center;
    background-color: $dark;
    color: white;
}