footer {
    & .footer-top {
        background-image: url('../../../public/img/footer-bg.jpg');
        padding: 40px 0;
        overflow: hidden;
        & h3 {
            color: white;
        }
        & ul {
            margin: 10px 20px 20px 0;
        }
        & a {
            color: gray;
            &.special {
                color: $blue;
            }
        }
        & p {
            color: gray;
        }
        & .container {
            position: relative;
            & .img-bg {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    & .footer-bottom {
        background-color: $gray;
        height: 100px;
        & .container {
            height: 100%;
            align-items: center;
            justify-content: space-between;
            & button {
                padding: 10px 20px;
                background-color: transparent;
                border: 2px solid $blue;
                font-size: 1em;
                color: white;
            }
            & h2 {
                display: flex;
                align-items: center;
                color: $blue;
                font-size: 1em;
            }
            & a {
                margin-left: 20px;
                display: block;
                &:hover {
                    filter: brightness(200%);
                }
            }
        }
    }
}