header {
    & .header-top {
        text-align: right;
        background-color: $blue;
        padding: 3px 0;
        & a {
            margin-left: 50px;
            color: white;
            font-size: 0.7em;
        }
    }
    & .header-bottom {
        justify-content: space-between;
        align-items: center;
        height: 80px;
        & .img-container {
            width: 60px;
            & img {
                width: 100%;
            }
        }
        & ul {
            height: 100%;
            width: calc(75% - 180px);
            justify-content: space-around;
            align-items: center;
            & li {
                height: 100%;
                & a {
                    font-size: 0.85em;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    color: $gray;
                    border-bottom: 3px solid transparent;
                    &.active {
                        border-bottom: 3px solid $blue;
                    }

                    & .token {
                        margin-left: 5px;
                        color: $blue;
                    }
                }
            }
        }
        & form {
            width: 120px;
            text-align: right;
            padding: 5px 0;
            border-bottom: 2px solid $blue;
            & input {
                width: 45px;
                font-size: 0.9em;
                border: 0;
                outline: 0;
            }
            & button {
                border: 0;
                outline: 0;
                background-color: transparent;
            }
        }
    }
}